﻿@page "/authorization"
@inject IClientService ClientService
@inject NavigationManager NavigationManager

<h3>Авторизация</h3>
<form method="POST">
    <p>Логин:</p>
    <input type="text" @bind="@login" DisplayName="Login" />
    <p>Пароль:</p>
    <input type="password" @bind="@password" DisplayName="Password" />
    <p>@error</p>
    <input type="submit" value="Авторизоваться" />
</form>
@code {
    public string login { get; set; } = "";
    public string password { get; set; } = "";
    public string error { get; set; } = "";
    public void OnPost()
    {
        var client = ClientService.FindByLoginAndPassword(login, password);
        if (client != null)
            NavigationManager.NavigateTo($"/request-list/{client.Result.Email}");
    else
        {
            error = "Неправильный логин или пароль";
        }

    }
}